@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  #__nuxt,
  #__layout {
    min-height: 100%;
  }
}
